.login {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.formContainer2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}


.button-group button {
  height: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.Log {
  background-color: rgb(255, 147, 133);
  color: #000;
  font-size: 16px;
  font-weight: 600;
  width: 120px;
  padding: 12px;
  

}

 .forget h1 {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
  font-size: medium;
  text-transform: lowercase;
  margin-top:5px;
}




.create {
  margin: 50px;
  background-color: #ffffff77;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 20px;
  object-fit: cover;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 18px;
  color: #000;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
  outline: none;
  width: 100%;
  padding: 8px 4px;
}

.image-container img{
height: 60vh;

}
@media (max-width: 786px) {
  .login {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    min-height: auto; 
    margin: 10px 20px;
  }
  .formContainer {
    margin-bottom: 0; 
    padding: 30px 20px;
  }
  .button-group {
    margin: 0;
    text-align: center;
    
  }
  .forget h1 {
    margin-bottom: 20px;
  }
  .image-container{
    display: none;
  }
}
