.about-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 20px;
  font-family: sans-serif;
}
.about-row{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.about-container h1{
  font-weight: 800;
  font-style:italic;
  margin-bottom: 0px;
}
.about-line {
  flex: 1;
  min-width: 300px;
  padding-top: 5px;
}
.about-line h4 {
  font-weight: 600;
  font-style:italic;
  padding: 10px;
}
.img-container {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  object-fit: cover;
}
.image {
  max-width: 100%;
  height: auto;
  padding-left: 20px;
  display: flex;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px ;
  gap: 40px;
}
.icon-img {
  height: 100px;
  width: auto;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}
.icon-img:hover {
  transform: scale(1.05);
}
.icon-box {
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  width: 300px;
  background-color: rgb(235, 234, 234);
}
.help {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
}
.help-box {
  flex: 1 1 250px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.help-icons {
  height: 50px;
  width: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}
.team-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.about-box {
  background-color: #f9f9f9;
  padding: 60px;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-box:hover {
  transform: translateY(-5px);
}
.about-box img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  object-fit:cover;
  height: 300px;
}
.growth{
  text-align: center;
  text-decoration:underline;
  font-size: xx-large;
  font-style: oblique;
  color: rgb(172, 68, 68);
  padding: 30px;
  font-weight: 800;

}
.team{
  text-align: center;
  padding-top: 60px;
   text-decoration:underline;
  font-size: xx-large;
  font-style: oblique;
  color: rgb(172, 68, 68);
  font-weight: 800;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.team-card {
  width: 250px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-img {
  width: 120%;
  height: 320px;
  object-fit: cover;
  border-radius: 6px;
}

.team-card hr {
  width: 80%;
  margin: 15px auto;
  border: 0.5px solid #ccc;
}

.team-card h2 {
  margin: 10px 0 5px;
  font-size: 20px;
  font-weight: 700;
}

.team-card h4 {
  margin: 0;
  font-size: 14px;
  color: #555;
}

