.Main {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
body {
  overflow: auto;  
}
.data {
  display: flex;  
  flex-direction: row;         
  overflow-x: scroll;          
  gap: 30px;
  padding: 20px;
  scroll-behavior: smooth;
  height: 450px;
}

.card {
  width: 240px;
  background-color: white;
  border: 2px solid #161616;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.card button {
  background-color: #3d92ca;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.card button:hover {
  background-color: #072335;
}

.loading-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spin-icon {
  animation: spin 1s linear infinite;
}
