.Main {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
body {
  overflow: auto;  

}
.data {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 30px;
  overflow-x:scroll;       
  overflow-y: hidden;    
  white-space: nowrap;    
  max-width: 100%;        
  
}

.card {
  flex: 0 0 auto;
  width: 240px;
  background-color: white;
  border: 2px solid #161616;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  scroll-behavior:auto;
  word-wrap:normal;        
  overflow: hidden;
  box-sizing: border-box;    
  align-items: center;   
  width: 350px; 

}



.card button {
  background-color: #3d92ca;
  border: none;
  padding-right:8px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  margin-left: 2px;
  width: 90px;
}

.card .buy {
  background-color: #3d92ca;
  border: none;
  padding-right:8px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  margin-left: 2px;
  width: 90px;
}
.card button:hover {
  background-color: #84b4d1;
 
}

.loading-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spin-icon {
  animation: spin 1s linear infinite;
}
