.footer {
  background-color: #0e0d0d;
  color: #ffffff;
  padding: 40px;
  font-family: sans-serif;
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-content :hover {
  color: #d4d2d1;

   text-decoration: underline;
}

.footer-section,
.support {
  flex: 1;
  font-family: serif;
  padding: 20px;
}

.footer-section h3,
.footer-section h4,
.support h3 {
  margin-bottom: 10px;
  color: #eeeeee;
  text-decoration: underline;
  font-size: 24px;
}


.footer-section p {
  font-family: serif;
  font-size: 18px;

}

.social-icons img {
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
  filter: brightness(0.8);
  color: #e9e5e5;
  background-color: #e9e5e5;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 14px;
  margin-top: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 30px;
  text-decoration: underline;
  font-family: serif;
}

.link1 {
  flex: 1;
  min-width: 200px;
  box-sizing: border-box;
  padding: 20px;
  font-family: serif;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: serif;
    color: white;
  }

  ul li a {
    color: #ffffff !important;
    text-decoration: none;
  }

}

.link1 h4 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 24px;
  text-decoration: underline;

}



.link li {
  align-items: start;
  color: #ffffff;
  font-size: 15px;
  transition: color 0.3s ease;
  text-decoration: none;
  text-align: start;
}

.link1 li:hover {
  color: #cecccc;
  /* text-decoration: underline; */
}

.support h4 {
  font-size: 18px;
  text-decoration: none;

}

.support:hover {
  color: #dad5d5;
  text-decoration: underline;
}


.App img {
  padding-top: 20px;

}

.footer-logo {
  color: white;
}

.supprt {
  color: white;
}

.App h2 {
  font-size: 25px;
  color: gainsboro;
}
.link1 ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
  font-family: serif;
}

.link1 ul li a:hover {
  color: #b43c1e; 
  text-decoration: underline;
}

@media(max-width: 786px) {
  .footer {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .link1 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin: 0;
  }

  .link1 li {
    text-align: start;
    width: 100%;
    padding-right: 30px;
  }

  .link1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

    ul li {
      width: fit-content !important;
      padding: 0 !important;
    } 
  }

  .link1 h4 {
    text-align: center;
  }

  .footer-section,
  .support,
  .link1,
  .App {
    padding-top: 10px;
    margin: 0;
    width: 100%;
    align-items: center;
  }

  .App img {
    justify-content: center;
    align-items: center;
    width: 240px;
  }

  .social-icons {
    justify-content: center;
  }
}