.Signup {
  display: flex;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  padding-bottom: 100px;
  background-color: white;
  max-width: 500px;
  margin-right: 190px;
}

.button-group {
  display: flex;
  gap: 50px;
}

.button-group button {
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.Sign {
  background-color: rgb(247, 127, 111);
  color: black;
  font-size: large;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.image {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  object-fit: contain;
}


input {
  padding: 10px;
  width: 100%; 
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 20px;
  color: #000000;
  width: 100%;
}

